@charset "utf-8";
/* Estilização do arquivo footer.php */

/* |== Footer ==| */

div#footer {
  clear: both;
  max-height: 55px;
  background-color: #266692;
}

.imgfooter  {
	margin: 7px 10px;
	float: left;
}

#esp {
	font-size: 10px;
}

#assinatura {
	margin: -2% 25% 0;
	padding-bottom: 3px;
	text-align: center;
}

div#validator {
	margin: 1% 0 0 80%;
}
span#twitter {
	font-family: PICOBLA;
	font-size: 14px;
	color: #6DD9F5;
}