@charset "utf-8";
/* Estilização do arquivo header.php */

/* ==| Técnicas da CSS3 para importação da fonte direto do Servidor de Hospedagem |== */

@font-face {
	/*Font da Logo */
	font-family: "troglo";
	src: url("../font/troglo.ttf");
	scr: url("../font/troglo.eot#iefix");
}

@font-face {
	/*Font do Twitter*/
	font-family: "picobla";
	src: url("../font/PICOBLA_.TTF");
	scr: url("../font/PICOBLA_.eot#iefix");
}

@font-face {
	/*Font do Linkedin*/
	font-family: "MyriadPro-BoldCond";
	src: url("../font/MyriadPro-BoldCond.eot#?iefix");
	src: url("../font/MyriadPro-BoldCond.ttf");
}

@font-face {
	/*Font do about.me*/
	font-family: "FacitWeb";
	src:url("http://webfonts.justanotherfoundry.com/Facit/FR")
}


/* |== Arte do Header: Logo, Título, Descrição e Menus |== */

div#header { background-color: #266692; }

img#foto {
	position: relative;
	margin: 30px 0 0 0;
}

h1 {
	font-family: troglo;
	color: #fefefe;
	margin: -200px 0 0 180px;
	font-size:48px;
}

span.dp{
	font-family: troglo;
	color: #08132b;
	font-size:48px;
}


div#inf {
	margin: 0 0 0 180px;
	text-align: justify;
	width: 325px;
	font-size: 10px;
}



div#logo {
	margin-left: 625px;
	margin-top: -45px;
	min-height: 121%;
	position: absolute;	top: 0;
	background-image: url(../images/logo.png);
	background-repeat: no-repeat;
}


div.logo span{ color: #08132b; }

div#header hr {
	margin-top: 55px;
	margin-bottom: 50px;
}


div#menu ul{
	width: 121%; height:25px;
	margin: 230px -64px 0 -17%;
	padding: 10px 0;
	font-size: 14px;
}

div#menu ul li { 
	float: left; 
	padding: 0 10px;
	letter-spacing: 2px;
	line-height: 25px;
	font-weight: bold; font-size: 14px;
}

div#menu a { font-size: 14px; }


div#menu ul li:active{
	font-style:italic;
	color: red;
	font-size: 14px;	
	background-image:url(../images/marcador.png);
	background-repeat: no-repeat;
	background-position:bottom;
}
